.iconfont {
  line-height: normal;
}

.app-main-default-container {
  background-color: @app-layout-right-main-bg;
  border-radius   : @app-layout-right-main-radius;
  box-shadow      : @app-layout-right-main-shadow;
  height          : 100%;
}

.app-main-transparent-container {
  background-color: transparent;
  height          : 100%;
}

//字体颜色
.app-text-primary {
  color: @primary-color;
}

.app-text-success {
  color: @success-color;
}

.app-text-warning {
  color: @warning-color;
}

.app-text-error {
  color: @error-color;
}

.app-text-black {
  color: @black;
}

.app-text-black-primary {
  color: @text-color;
}

.app-text-black-secondary {
  color: @text-color-secondary;
}

//鼠标
.app-cursor-default {
  cursor: default;
}

.app-cursor-url {
  cursor: url;
}

.app-cursor-pointer {
  cursor: pointer;
}

.app-cursor-auto {
  cursor: auto;
}

.app-cursor-crosshair {
  cursor: crosshair;
}

.app-cursor-text {
  cursor: text;
}

.app-cursor-wait {
  cursor: wait;
}

.app-cursor-help {
  cursor: help;
}


.app-cursor-move {
  cursor: move;
}

.app-cursor-e-resize {
  cursor: e-resize;
}

.app-cursor-ne-resize {
  cursor: ne-resize;
}

.app-cursor-nw-resize {
  cursor: nw-resize;
}

.app-cursor-se-resize {
  cursor: se-resize;
}

.app-cursor-n-resize {
  cursor: n-resize;
}

.app-cursor-sw-resize {
  cursor: sw-resize;
}

.app-cursor-s-resize {
  cursor: s-resize;
}

.app-cursor-w-resize {
  cursor: w-resize;
}

//边距
.app-margin-top10 {
  margin-top: 10px;
}

.app-margin-bottom10 {
  margin-bottom: 10px;
}

.app-margin-top15 {
  margin-top: 15px;
}

.app-margin-bottom15 {
  margin-bottom: 15px;
}

.app-margin-top20 {
  margin-top: 20px;
}

.app-margin-bottom20 {
  margin-bottom: 20px;
}

// 内容
.app-word-break {
  word-break   : break-all;
  overflow-wrap: break-word;
  hyphens      : auto;
  line-break   : anywhere;
}

// flex
.app-flex {
  display: -webkit-flex;
  display: flex;
}

.app-flex-direction-row {
  flex-direction: row;
}

.app-flex-direction-row-reverse {
  flex-direction: row-reverse;
}

.app-flex-direction-column {
  flex-direction: column;
}

.app-flex-direction-column-reverse {
  flex-direction: column-reverse;
}

.app-flex-wrap-nowrap {
  flex-wrap: nowrap;
}

.app-flex-wrap {
  flex-wrap: wrap;
}

.app-flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.app-flex-justify-content-start {
  justify-content: flex-start;
}

.app-flex-justify-content-end {
  justify-content: flex-end;
}

.app-flex-justify-content-center {
  justify-content: center;
}

.app-flex-justify-content-between {
  justify-content: space-between;
}

.app-flex-justify-content-around {
  justify-content: space-around;
}

.app-flex-align-items-start {
  align-items: flex-start;
}

.app-flex-align-items-end {
  align-items: flex-end;
}

.app-flex-align-items-center {
  align-items: center;
}

.app-flex-align-items-baseline {
  align-items: baseline;
}

.app-flex-align-items-stretch {
  align-items: stretch;
}

.app-flex-align-content-start {
  align-content: flex-start;
}

.app-flex-align-content-end {
  align-content: flex-end;
}

.app-flex-align-content-center {
  align-content: center;
}

.app-flex-align-content-between {
  align-content: space-between;
}

.app-flex-align-content-around {
  align-content: space-around;
}

.app-flex-align-content-stretch {
  align-content: stretch;
}