.iconfont {
    line-height: normal;
}

.app-main-default-container {
    background-color: @app-layout-right-main-bg;
    border-radius   : @app-layout-right-main-radius;
    box-shadow      : @app-layout-right-main-shadow;
    height          : 100%;
}

.app-main-transparent-container {
    background-color: transparent;
    height          : 100%;
}